body{   
    margin: 0;
    padding: 0;
    background: url(bg.jpg);
    background-size: cover;
    font-family: sans-serif;
}  

#frm
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 420px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,.7);
    border-radius: 20px;
    border:1pt #fff;
}

h1
{
    margin: 0;
    padding: 0 0 20px;
    color: #efed40;
    text-align: center;
}

label
{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}

#frm input
{
    width: 100%;
    margin-bottom: 20px;
} 
#frm input[type="text"],
#frm input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

::placeholder
{
    color: rgba(255,255,255,.5)
}

#frm input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: #ff267e;
    cursor: pointer;
    border-radius: 20px;
}
#frm input[type="submit"]:hover
{
    background: #efed40;
    color: #262626;
}
